imports:
    - 'tests/Behat/Resources/config/suites.yml'

default:
    extensions:
        FriendsOfBehat\VariadicExtension: ~
        FriendsOfBehat\SymfonyExtension:
            kernel:
                bootstrap: 'vendor/autoload.php'
                path: 'src/Common/Infrastructure/Kernel.php'
                class: 'App\Common\Infrastructure\Kernel'
        FriendsOfBehat\ContextServiceExtension:
           imports:
               - 'tests/Behat/Resources/config/services.xml'
